body {
  background-color: #001524;
  text-align: center;
}

@media (min-width:10px){
  body{
    background-color: #001524;
  }
}

.first {
  color: #FFECD1;
  position: relative;
  top: 250px;
}

.icon-head {
  font-size: 2.5rem;
  margin-left: 1%;
  margin-top: 2%;
  transition: transform .2s;
}

.icon-head:hover {
  transform: scale(1.5);
}

.btn1 {
  background-color: #FFECD1;
  position: relative;
  top: 100px;
  text-decoration: none;
  color: #001524;
  transition: transform .2s;
}

.btn1:hover {
  transform: scale(1.2);
}

.photo {
  border-radius: 50%;
  width: 10%;
  height: auto;
  position: relative;
  top: 250px;
}

.about_me {
  position: absolute;
  left: 30%;
  width: 5%;
  height: auto;
  bottom: 60%;
  transition: transform .2s;
}

.about_me:hover {
  transform: scale(1.2);
}

.about_me_text {
  position: absolute;
  left: 30%;
  width: 5%;
  height: auto;
  bottom: 55%;
  color: #FFECD1;
}

.education {
  position: absolute;
  height: auto;
  width: 5%;
  right: 30%;
  bottom: 60%;
  transition: transform .2s;
}

.education:hover {
  transform: scale(1.2);
}

.education_text {
  position: absolute;
  height: auto;
  width: 5%;
  right: 30%;
  bottom: 55%;
  color: #FFECD1;
}

.project {
  position: absolute;
  height: auto;
  width: 5%;
  left: 20%;
  bottom: 40%;
  transition: transform .2s;
}

.project:hover {
  transform: scale(1.2);
}

.project_text {
  position: absolute;
  height: auto;
  width: 5%;
  left: 20%;
  bottom: 35%;
  color: #FFECD1;
}

.work {
  position: absolute;
  height: auto;
  width: 5%;
  right: 20%;
  bottom: 40%;
  transition: transform .2s;
}

.work:hover {
  transform: scale(1.2);
}

.work_text {
  position: absolute;
  height: auto;
  width: 5%;
  right: 20%;
  bottom: 35%;
  color: #FFECD1;
}

.certificate {
  position: absolute;
  left: 30%;
  width: 5%;
  height: auto;
  bottom: 20%;
  transition: transform .2s;
}

.certificate:hover {
  transform: scale(1.2);
}

.certificate_text {
  position: absolute;
  left: 30%;
  width: 5%;
  height: auto;
  bottom: 15%;
  color: #FFECD1;
}

.skills {
  position: absolute;
  height: auto;
  width: 5%;
  right: 30%;
  bottom: 20%;
  transition: transform .2s;
}

.skills:hover {
  transform: scale(1.2);
}

.skills_text {
  position: absolute;
  height: auto;
  width: 5%;
  right: 30%;
  bottom: 15%;
  color: #FFECD1;
}

.tagline {
  color: #FFECD1;
  position: absolute;
  left: 35%;
  bottom: 5%;
}

/* About Me */
.all-me{
  text-align: justify;
}

.btn {
  background-color: #001524;
}

p {
  color: #FFEFD3;
  font-size: 1.5rem;
  font-weight: 100;
}

h2 {
  color: #FFEFD3;
  font-size: 2rem;
  font-weight: 200;
}

.me {
  height: auto;
  width: 85%;
}

.college {
  position: absolute;
  text-align: left;
  right: 19%;
  line-height: 0.5;
}

.hsc {
  position: absolute;
  text-align: right;
  left: 30%;
  line-height: 0.5;
}

.sc {
  position: absolute;
  text-align: left;
  right: 30%;
  line-height: 0.5;
}

.v1 {
  border-left: 1px solid #FFEFD3;
  position: absolute;
  height: 500px;
  left: 50%;
  margin-left: -3px;
}

@media (max-width:1830px){
  .v1 {
    left: 25%;
  }
  .college{
    left: 28%;
  }
  .hsc{
    text-align: left;
    left: 28%;
  }
  .sc{
    left: 28%;
  }
  .vidya{
    position: relative;
    left: 5%;
  }
}

@media (max-width:700px){
  .hsc, .sc{
    left: 28%;
    line-height: 1;
    display: inline;
  }
  .college{
    line-height: 1;
  }
  .v1 {
    height: 600px;
  }
}

@media (max-width:600px){
  .v1 {
    left: 5%;
  }
  .college{
    left: 9%;
  }
  .hsc{
    text-align: left;
    left: 9%;
    top: 60%;
  }
  .sc{
    left: 9%;
  }

}


hr {
  width: 1;
  height: 200px;
}

h3 {
  color: #FFEFD3;
}

span{
  font-weight: bold;
}

li {
  color: #FFEFD3;
}

.exp{
  text-align: left;
}

/* Experience */

.v2, .v3 {
  border-left: 1px solid #FFEFD3;
  height: 1000px;
  position: absolute;
  margin-left: -3px;

}

.Infosys, .drdo, .uav, .bi_alarm {
  text-align: left;
  padding-left: 5%;
}

.row {
  padding-left: 7%;
}

.col-lg-2 {
  margin-right: 40px;
}

.row-2 {
  padding-left: 30%;
}

hr {
  width: 32%;
  color: #FFEFD3;
  height: 20px;
  text-align: center;
  margin-left: 35%;
}

.icon {
  font-size: 3rem;
  margin-left: 1%;
}

em {
  color: #FFEFD3;
}

@media (max-width:715px) {
  .row-2{
    padding-left: 0;
  }
  .row{
    padding-left: 0;
  }
  /* .one-one{

  } */
}

.download-button {
  position: relative;
  top: 0px;
}

/* Skills */
.dota {
  height: 20px;
  width: 20px;
  background-color: #FFEFD3;
  border-radius: 50%;
  display: inline-block;
  margin-right:10px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: rgba(255,239,211,.55);
  border-radius: 50%;
  display: inline-block;
  margin-right:10px;
}
